/*
  --------------------------------- Layout du pied de page
*/

footer{
    background-color: rgb(134, 147, 133); 
    color : #ffffff; 
    margin-top: 3em;
    border-top: 0.5em solid rgb(66, 66, 66);
  }
  
  .piedpage{
    width: 100vw;
    height: 40vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__s1{
        width: 90vw;
          display: flex;
          flex-wrap: wrap;
          padding: 1em;
          gap: 3rem;
          &__externe {
              flex : 0 0 20%;
              & .menu { //ul
                  display : flex;
                  flex-direction: column;
                  gap: 0.5em;
              }
  
  
          }
          &__adresse{
              font-size: 1.2em;
              flex : 0 0 40%;
              padding-left: 1em;
              display: flex;
              flex-direction: column;
              gap: 1em;
          }
          &__description{
            padding-left: 0.8em;
              flex:1 0 300px;
              font-size: 1.2em;
              border-left: 3px solid rgb(71, 71, 71);
          }
      }
  }