.destination{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__titre{
        text-align: center;
        border-bottom: 2px solid $couleur__highlight;
        padding-bottom: 1em;
    }
    &__list{
        border: solid $couleur__highlight 1px;
    }
    div{
        margin-bottom: 1em;
        width: 80vw;
        padding: 1em;
    }
    h3{
        width: 75vw;
        font-size: 1.5em;
        border-bottom: $couleur__highlight 2px solid;
    }
    p{
        font-size: 1.2em;
    }
}
.pays{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $couleur_haut;
    &__titre{
        font-size: 1.5em;
        border-bottom: 3px solid $couleur__highlight;
    }
    &__description{
        width: 70vw;
        font-size: 1.2em;
    }
    &__menu{
        background-color: $couleur_haut;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.categorie__ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.categorie__ul__li {
  background-color: $couleur__highlight;
  color: white;
  padding: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.categorie__ul__li:hover {
  background-color: #0056b3;
}