.hero{
    color: $couleur__highlight;
    &__contenu{
        display: flex;
        flex-direction: column;
    }
    
    font-size: 1.5em;
    &__titre{
       font-size: 5em; 
    }
    &__description{
        color: $couleur__highlight;
    }
    &__icone-app{
        margin-top: 1em;
        display: flex;
        justify-content: space-between;
        width: 10em;
        background-color:$couleur__highlight;
        padding: 0.25em;
        border-radius: 1em;
    }
    &__bouton{
        margin-top: 1em;
        width: 10em;
        padding: 0.25em;
        font-weight: bold;
        font-size: 1em;
        background-color: $couleur__highlight;
        border-radius: 0.5em;
        border: none;
    }
    &__courriel{
        width: 30em;
        padding: 0.15em;
    }
}