.hero{
    min-height: 100vh;
    position : relative;
    color: $couleur__highlight;
    &__carrousel {
        top:0;
        left:0;
        position : absolute;
        background-repeat: no-repeat ;
        background-size: cover;
        min-height : 100vh;
        width : 100%;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.5s ease;
        &--active{ //.hero__carrousel--active
            opacity: 1;
        }
    }
    &__radio{
        position: absolute;
        left: 45%;
        right: 50%;
        bottom: 0;
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 0.5em;
    }
    &__contenu{
        display: flex;
        flex-direction: column;
    }
    
    font-size: 1.5em;
    &__titre{
       font-size: 5em; 
    }
    &__description{
        color: $couleur__highlight;
    }
    &__icone-app{
        margin-top: 1em;
        display: flex;
        justify-content: space-between;
        width: 10em;
        background-color:$couleur__highlight;
        padding: 0.25em;
        border-radius: 1em;
    }
    &__bouton{
        margin-top: 1em;
        width: 10em;
        padding: 0.25em;
        font-weight: bold;
        font-size: 1em;
        background-color: $couleur__highlight;
        border-radius: 0.5em;
        border: none;
    }
    &__courriel{
        width: 30em;
        padding: 0.15em;
    }
    @keyframes fadeUpContent {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

&__contenu__anim.animate {
  animation: fadeUpContent 0.6s ease-out;
}
}

